node_modules
dist
coverage
build
.public

*.log
*.lock

package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

.env
.env.*

.vscode
.idea

.nuxt
.output

.next
.vercel

generated
tmp
temp

*.min.js
*.min.css

public

*.svg
